<div class="container">

  <div class="jumbotron">
<h1>Burgers</h1>
  </div>

<div class="row">
  <div class="col-6">
<h2 class="col-12">Burgers to be devoured</h2>

<div class="row">
<ul>
  {{#each burger}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>
</div>

</div>
<div class="col-6">
<div class="row">
<h2>Burgers that have been eaten</h2>
</div>

<ul class="col-12">
  {{#each burger}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>
</div>
</div>


<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bur">Burger Name:</label>
    <input type="text" id="bur" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>

</div>